html 
    body 
        h1 May Node and Express be with you.
        form(action="/quotes" method= "POST") 
            input(name="name" placeholder="name!!!!")
            input(name="quotes")
            button Submit
            pre=JSON.stringify(quotes, null, 2)
            div
                ul 
                    each quote in quotes
                        li 
                            span=quote.name 
                            br
                            span=quote.quotes 
            div 
                h2 Writer Quotes!
                p Replace first chosen quote with a quote written by Writer
                button(id="update-button") Replace  

                            


