extends layout

block layout-content
  div.View
    h1.Banner WHATS-UP
    div.Message
      div.Title
        h3 Making the Best
        h1 Energy For Devs
      span.Details Access the WHATS-UP Food Portal
    div.NavButtons
      a(href="/user")
        div.NavButton Just dive in!
